html {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  background-color: white;
  height: 100%;
  width: 100%;
}

/* Universal Styles */
.main-shadow {
  -webkit-box-shadow: 4px 10px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 10px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 4px 10px 25px 2px rgba(0,0,0,0.75);
  margin-top: 28px;
}

h2 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0.8rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
}

.bottom-border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.right-border {
  border-right: 2px solid rgba(255, 255, 255, 0.7);
}

.top-right-border {
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
}

.bottom-right-border {
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.top-right-corner {
  margin-top: 1rem;
}

.bottom-right-corner {
  margin-bottom: 1rem;
}

/* Main layout */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding-top: 7%;
}

.board {
  width: 24rem;
  height: 26rem;
  background-color: #DEB887;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
}

/*Status*/
.status {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

#player1-turn {
  background-color: #00CED1;
}

#player2-turn {
  background-color: #B22222;
}

#computer-turn {
  background-color: #7B68EE;
}

.turn {
}

/*Top board controls & scores*/
.settings {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scores {
  margin-left: 2rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #2F4F4F;
}

#score1, #score1num, #score2, #score2num {
  display: inline;
  font-family: 'Indie Flower', cursive;
}

.controls {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3rem;
  color: #2F4F4F;
}

/* PlayBoard */
.chalkboard {
  background-color: #2F4F4F;
  background: radial-gradient(#2F4F4F, #1B3E3E, #0E3232);
  margin: 0rem 1rem 1rem 1rem;
  height: 21rem;
  width: 21rem;
  position: relative;
}

.row {
  height: 33%;
  margin: 0rem 1rem 0rem 1rem;
  display: flex;
}

.square {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Choose Player - Intro screen */
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  font-family: 'Indie Flower', cursive;
}

.options {
  display: flex;
  justify-content: space-around;
  margin: 1rem 2.5rem 1rem 2.5rem;
}

.player-choice {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  border-style: dashed;
}

.player-choice:hover {
  color: white;
}

/*Token Selection*/
.token-choice {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
}

#two-player-message {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

#back {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Roboto', sans-serif;
  border-style: dashed;
}

#back:hover {
  color: white;
}

#x-token:hover {
  border: 1px dashed white;
}

#o-token:hover {
  border: 0.1px dashed white;
}

/* Overlay */
.overlay {
  background-color: white;
  opacity: 0.6;
  margin: 0rem 1rem 1rem 0rem;
  height: 21rem;
  width: 21rem;
  position: absolute;
  z-index: 1;
}

.playerOne, .playerTwo, .computer, .tie {
  transform: rotate(-45deg);
  font-size: 36px;
}

.playerOne, .playerTwo, .computer {
  margin-top: 125px;
  margin-left: 24px;
}

.playerOne {
  color: crimson;
}

.playerTwo {
  color: deepskyblue;
}

.computer {
  color: chartreuse;
}

.tie {
  margin-top: 90px;
  margin-left: 60px;
  color: chocolate;
}

